.App {
  text-align: center;
}

.homepage-background {
  text-align: center;
  background-image: url('peopleInMeeting.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mylogo {
  position: absolute;
  left: 0;
  top: 0;
  height: 140px;
  width: 140px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
/* 
.detailedbutton {
  background-color: #04AA6D;
  border: rgb(93, 164, 61);
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
  margin-left: 50x;
} */


/* .homebutton {
  background-color: #04AA6D;
  border: rgb(93, 164, 61);
  text-align: center;
  font-size: 16px;
  padding: 25px 62px;
  margin-left: 50x;
} */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.headerTitle {
  color: whitesmoke;
  font-size: 5vh;
  font-stretch:semi-expanded;
  margin-top: 2vh;
}


/* .basicButton {
  background-color: #04AA6D;
  border: rgb(93, 164, 61);
  text-align: center;
  font-size: 16px;
  padding: 25px 62px;
}
*/
.App-footer {
  background-color: #282c34;
  text-align: center;
  margin-top: auto;
  padding: 18px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  grid-column: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vh;
}
.detailedbutton,
.homebutton,
.basicButton {
  background-color: #5d6d67;
  border: 2px solid rgb(17, 21, 16); /* Add border to the buttons */
  color: white; /* Text color */
  text-align: center;
  font-size: 16px;
  padding: 15px 32px; /* Padding around text */
  margin: 10px; /* Add margin between buttons */
  border-radius: 8px; /* Rounded corners for buttons */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Button hover styles */
.detailedbutton:hover,
.homebutton:hover,
.basicButton:hover {
  background-color: #c1d1c9; /* Darker background color on hover */
  color: black;
}
img {
  width: 45%; /* Adjust the width of the image as needed */
  float: right; /* Float the image to the right */
  margin-right: 20px; /* Add margin to the right side to create space */
  
}

@media (max-width: 768px) {
  img {
    width: 100%; /* Adjust width for smaller screens */
    float: none; /* Remove float for smaller screens */
    margin-right: 0; /* Remove margin for smaller screens */
  }
}
.basic-description{
  margin-top: 60px;
  margin-bottom: 30px;
  margin-inline: 165px;
  width: 500px;
  font-family: monospace;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
}
.detailed-description{
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 165px;
  width: 500px;
  font-family: monospace;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
}

.detailedbutton2{
  background-color: #127a54;
  border: 2px solid rgb(17, 21, 16); /* Add border to the buttons */
  color: white; /* Text color */
  text-align: center;
  font-size: 16px;
  padding: 15px 32px; /* Padding around text */
  margin: 10px; /* Add margin between buttons */
  border-radius: 8px; /* Rounded corners for buttons */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-right: 625px;
}

.basicButton2 {
  background-color: #127a54;
  border: 2px solid rgb(17, 21, 16); /* Add border to the buttons */
  color: white; /* Text color */
  text-align: center;
  font-size: 16px;
  padding: 15px 45px; /* Padding around text */
  margin: 1px; /* Add margin between buttons */
  border-radius: 8px; /* Rounded corners for buttons */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */

  position: relative; /* Set position to relative */
 /* Bring the button forward */
  left: 20px; /* Move the button 20 pixels to the left */
  margin-right: 660px;
  margin-bottom: 350px;
}

.apiKeyInsert {
  width: 80vh;
}
